# 웹 프레임워크
streamlit==1.25.0
streamlit-extras==0.3.2
streamlit_antd_components==0.2.4
fastapi==0.100.0
uvicorn==0.23.1

# 데이터 처리
pandas==2.0.3
numpy==1.24.3
matplotlib==3.7.2
plotly==5.15.0
fpdf==1.7.2

# API 클라이언트
requests==2.31.0
python-dotenv==1.0.0

# 자연어 처리
beautifulsoup4==4.12.2
html5lib==1.1

# 개발 도구
pytest==7.4.0
black==23.7.0
flake8==6.0.0
